# pycache
utils/__pycache__/*.pyc
utils/__pycache__/*.pyo

# Irrelevant files in Monotonic Folder
Monotonic/*.dat
Monotonic/*.in
Monotonic/*.res
Monotonic/log
Monotonic/*.lammps

# Folder containing geometries
Monotonic/rep_DNs/
Monotonic/results/
Monotonic/run_density_and_preStretch.py

# Irrelevant folders and files in Monotonic_poly
Monotonic_poly/*.dat
Monotonic_poly/*.in
Monotonic_poly/*.res
Monotonic_poly/log
Monotonic_poly/*.lammps
Monotonic_poly/rep_DNs/
Monotonic_poly/results/

# Cyclic folders
Cyclic/*.dat
Cyclic/*.in
Cyclic/*.res
Cyclic/log
Cyclic/*.lammps
Cyclic/rep_DNs/
Cyclic/results/

# Cyclic folders
Cyclic_poly/*.dat
Cyclic_poly/*.in
Cyclic_poly/*.res
Cyclic_poly/log
Cyclic_poly/*.lammps
Cyclic_poly/rep_DNs/
Cyclic_poly/results/



# Geometries
Geometries/nu*
Geometries/Chain_length/

# Convergence 
Convergence/*